body.background{
    background-image: url('https://sun9-47.userapi.com/impg/1TUsDwf-sxsMvGLWWCkr6dKxeQmOXasO4vyv6g/Cl0bjTP3nwM.jpg?size=1156x577&quality=96&sign=5c564981aee2fcbba4cacd63722abfe5&type=album');
    background-repeat: no-repeat; height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}